body{
    background:#fff;
    font-family: sans-serif;
}



.masuk{
    width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 80px;
    font-size: 12pt;
    border: 1px solid #2ECC71;
    padding-left:10px;
    color:#2ECC71;
    border-radius: 10px;
}
.masuk:focus{
    width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    font-size: 12pt;
    padding-left:10px;
    color:#1ABC9C;
    outline: none;
    box-shadow: 0 0 5px #2ECC71;
}
  p{
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
 }
#tombol{
    width: 80px;
    height:30px;
    margin-top:10px;
    margin-left: 115px;
    background: #00FF00;
    border:none;
    color:black;
    font-size: 14pt;
    outline:none;
    border-radius: 5px;
}
#tombol1{
    width: 200px;
    height:30px;
    border-radius: 5px;
    background:  #2ECC71;
    margin-top:10px;
    margin-left: 80px;
}
#header{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: black;
    background-color: blue;
    border-radius: 7px;
}
#footer{
    margin-top: 400px;
    margin-bottom: 0px;
    text-align: center;
    color: black;
    background-color: blue;
    border-radius: 7px;
}
a{
    color: red;

}